:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#scroll-container {
  height: 100vh;
  overflow: auto;
}

/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul {
  list-style: none;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}

section {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  /* border: 1px solid white; */
}

.section01 {
  background-color: #fff;

  header {
    list-style: none;
    z-index: 10;
    position: relative;
    /* height: 50px; */
    /* padding: 50px; */

    .inner {
      width: 1280px;
      margin: 0 auto;
      /* background: red; */
      display: flex;
      position: relative;
      align-items: center;
      border-bottom: 1px solid black;
      justify-content: space-between; /* gnb 3등분 영역 지정해주기 */
      padding-top: 1%;
      padding-bottom: 1%;
    }

    .bottom {
      /* display: none; */
      width: 100vw;
      height: 0;
      overflow: hidden;
      background-color: rgb(255, 255, 255);
      position: absolute;
      left: 0;

      .about {
        display: none;

        .flex-container {
          display: flex;
          padding-top: 4%;
          position: relative;

          .img-container {
            display: flex;
            padding-left: 3%;
            justify-content: center;
            align-items: center;
            gap: 40px;
          }
          .content {
            position: relative;
            padding-left: 3%;

            .shopallproducts {
              position: absolute;
              left: 20%;
              bottom: 0;
            }
          }
        }
      }

      .product {
        position: relative;
        z-index: 100;
        /* 공통 */
        .subtitle {
          position: absolute;
          z-index: 100;
          display: none;
          padding-top: 5%;

          .contents {
            padding-bottom: 11%;
          }
          .text {
            padding-top: 10%;
          }
          .shopallproducts {
            padding-top: 50%;
          }
        }

        .productnew {
        }
      }

      /* best */
      .productbest {
        display: none;
      }
      /* all */
      .productall {
        display: none;
      }
    }
  }

  .bottom_inner {
    width: 1280px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    height: 300px;
  }

  .logo {
    padding-left: 6%;
  }

  .group {
    display: flex;
    gap: 10em;
    padding-right: 4%;

    .gnb {
      border-left: 1px solid black;
      padding: 0;
      height: 100%;

      .gnb-img {
        display: flex;
        padding: 3%;
        padding-left: 10px;
      }
    }
    .gnb-home {
      border-left: 1px solid black;
      padding-left: 10px;

      .gnb-home-img {
        display: flex;
        padding: 3%;
      }
    }
    .icons {
      padding-left: 10px;
      padding-right: 5px;

      .icon-img {
        display: flex;
        padding: 18%;
      }
    }
  }
}
