/* 웹페이지 가로 사이즈 1920px */
/* background-image: url(); */
/* products페이지 flexbox top <-> bottom 여백 없애기 */

.text-effect {
  opacity: 0.3; /*  0 ~ 1 : 100% */
  transition: all 0.5s;

  &:hover {
    opacity: 1;
  }
}
.hover_effect {
  overflow: hidden;
}

.hover_effect img {
  transition: all 1s;
}

.hover_effect:hover img {
  transform: scale(1.3);
}

.section01 {
  background-color: #fff;

  header {
    list-style: none;
    z-index: 10;
    position: relative;
    /* height: 50px; */
    /* padding: 50px; */

    .inner {
      width: 1280px;
      margin: 0 auto;
      /* background: red; */
      display: flex;
      position: relative;
      align-items: center;
      border-bottom: 1px solid black;
      justify-content: space-between; /* gnb 3등분 영역 지정해주기 */
      padding-top: 1%;
      padding-bottom: 1%;
    }

    .bottom {
      /* display: none; */
      width: 100vw;
      height: 448px;
      background-color: rgb(255, 255, 255);
      position: absolute;
      left: 0;

      .about {
        display: none;

        .flex-container {
          display: flex;
          padding-top: 4%;
          position: relative;

          .img-container {
            display: flex;
            padding-left: 3%;
            justify-content: center;
            align-items: center;
            gap: 40px;
          }
          .content {
            position: relative;
            padding-left: 3%;

            .shopallproducts {
              position: absolute;
              left: 20%;
              bottom: 0;
            }
          }
        }
      }
      
      .product{
        position: relative;
         /* 공통 */
         .subtitle {
          position: absolute;
          padding-top: 5%;

          .contents {
            padding-bottom: 11%;
          }
          .text {
            padding-top: 10%;
          }
          .shopallproducts {
            padding-top: 50%;
          }
        }

        .productnew d-1 d-2 .flex-container{
          position: absolute;
          top: 50%;
          display: flex;
          
            /* position: absolute;
            top: 0;
            right: 0;
            padding-top: 30%;
             */
            
            /* img-container {
              display: flex;
              gap: 2%;
              .text {
                padding-top: 2%;
              }
            } */
  
        }
        
      }

      /* best */
      .productbest d-2 {
        display: none;
        position: relative;

        .flex-container {
          position: absolute;
          display: flex;
          justify-content: space-between;
          padding-left: 6%;
          padding-right: 0;

          .img-container {
            padding-bottom: 1%;

            .panton {
              padding-top: 4%;
              display: flex;
              align-items: center;
              border-bottom: 1px solid rgb(217, 217, 217);
              justify-content: space-between;

              .img {
                display: flex;
                gap: 3rem;
              }
            }
            .kevi {
              padding-top: 3%;
              display: flex;
              align-items: center;
              border-bottom: 1px solid rgb(217, 217, 217);
              justify-content: space-between;

              .img {
                display: flex;
                gap: 3rem;
              }
            }
            .storage {
              padding-top: 3%;
              display: flex;
              align-items: center;
              border-bottom: 1px solid rgb(217, 217, 217);
              justify-content: space-between;

              .img {
                margin-left: 100px;
                display: flex;
                gap: 3rem;
              }
            }
          }
        }
      }
      /* all */
      .productall d-2 {

       .flex-container {
         /* display: none; */

          .img-container {
           display: flex;
           justify-content: center;
           padding-top: 3%;
           padding-left: 15%;

           .category-container{
            padding-left: 10%;
            padding-top: 5%;
 
            .category {
             padding-bottom: 3%;
             }
           }

           .all {
            padding-left: 2%;
            }
           .text {
            padding-top: 3%;
            }
          }
        }
      }
     
      
      
    }
  }

  .bottom_inner {
    width: 1280px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    height: 300px;
  }

  .logo {
    padding-left: 6%;
  }

  .group {
    display: flex;
    gap: 10em;
    padding-right: 4%;

    .gnb {
      border-left: 1px solid black;
      padding: 0;
      height: 100%;

      .gnb-img {
        display: flex;
        padding: 3%;
        padding-left: 10px;
      }
    }
    .gnb-home {
      border-left: 1px solid black;
      padding-left: 10px;

      .gnb-home-img {
        display: flex;
        padding: 3%;
      }
    }
    .icons {
      padding-left: 10px;
      padding-right: 5px;

      .icon-img {
        display: flex;
        padding: 18%;
      }
    }
  }
}

/* Main page */
.main-container {
  position: relative;
  text-align: center;
  justify-content: center;
  /* background-color: #fff; */

  .text {
    position: absolute;
  }

  .maintext {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.btn {
  position: absolute;
  left: 45px;
  bottom: 130px;
}

.bg-img {
  width: 1600px;
  height: 739px;
  margin: 0 auto;
}

.swiper-slide {
  position: relative;
}

.btn {
  border: none;
  width: 208px;
  height: 50px;
  border: 1px solid #fff;
  background: url("/common/button.png") no-repeat center;
  cursor: pointer;

  &:hover {
    background: black url("/common/button.jpg") no-repeat center;
  }
}

/* products page */
.section02 {
  background-color: #fff;
  /* width: 1920px; */
  height: inherit;

  .flex-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      padding-top: 123px;
      padding-bottom: 30px;
    }

    .img-top {
      display: flex;
      position: relative;

      .shelving {
        position: relative;

        .text-top {
          position: absolute;
          margin: 0 auto;
          left: 25%;
          top: 10%;
          transform: translate(50%, -15%);
        }
      }

      .cabinets {
        position: relative;

        .text-top {
          position: absolute;
          margin: 0 auto;
          left: 25%;
          top: 10%;
          transform: translate(50%, -15%);
        }
      }

      .retailer {
        position: relative;

        .ad-title {
          display: flex;
          position: absolute;
          margin: 0 auto;
          left: 10%;
          top: 30%;
          transform: translate(22%, -40%);
        }

        .retailer-btn {
          border: none;
          width: 441px;
          height: 50px;
          position: absolute;
          margin: 0 auto;
          left: 0;
          bottom: 30%;
          transform: translate(22%, -40%);
          background: white url("/section02/button.png") no-repeat center;
          padding: 0;

          &:hover {
            background: white url("/section02/button.jpg") no-repeat center;
          }
        }
      }
    }
    .img-bottom {
      display: flex;

      .bedroom {
        position: relative;

        .text-bottom {
          position: absolute;
          margin: 0 auto;
          left: 15%;
          top: 10%;
          transform: translate(50%, -15%);
        }
      }
      .tables {
        position: relative;

        .text-bottom {
          position: absolute;
          margin: 0 auto;
          left: 33%;
          top: 10%;
          transform: translate(50%, -15%);
        }
      }
      .chairs {
        position: relative;

        .text-bottom {
          position: absolute;
          margin: 0 auto;
          left: 33%;
          top: 10%;
          transform: translate(50%, -15%);
        }
      }
      .accessories {
        position: relative;

        .text-bottom {
          position: absolute;
          margin: 0 auto;
          left: 15%;
          top: 10%;
          transform: translate(50%, -15%);
        }
      }
    }
  }
}

/* lifestyle */
.section03 {
  background-color: #fff;
  /* width: 1920px; */
  height: inherit;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 123px;
    padding-bottom: 2%;
  }

  .swiper-slide {
    position: relative;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;

    .flex-img1 {
      display: flex;
      justify-content: center;
      position: relative;
      padding-top: 15px;
      padding-left: 3%;

      .img {
        position: relative;
        padding-left: 3%;
      }
      .img-tag {
        position: absolute;
        left: 24%;
        top: 40%;
      }

      .body {
        padding-top: 3%;
        padding-left: 3%;
        position: relative;
        padding-right: 3%;
  
        .drawers {
          display: flex;
          padding-top: 10%;
          padding-bottom: 20%;
          .drawer1 {
            padding-right: 3%;
          }
        }
        
      }
    }

    .flex-img2 {
      display: flex;
      justify-content: center;
      position: relative;
      padding-top: 15px;
      padding-left: 3%;

      .img {
        position: relative;
        padding-left: 3%;
      }
      .img-tag {
        position: absolute;
        left: 15%;
        bottom: 30%;
      }

      .body {
        padding-top: 3%;
        padding-left: 3%;
        position: relative;
        padding-right: 3%;
  
        .drawers {
          display: flex;
          padding-top: 10%;
          padding-bottom: 20%;
          .drawer1 {
            padding-right: 3%;
          }
        }
        
      }
    }

    .custom-btn {
      border: none;
      width: 405px;
      height: 50px;
      position: absolute;
      margin: 0 auto;
      left: 0;
      bottom: 0;
      transform: translate(10%, -200%);
      background: white url("/section03/button.jpg") no-repeat center;
      padding: 0;

      &:hover {
        background: white url("/section03/button-hover.jpg") no-repeat center;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    gap: 1rem;
  }
}

/* Archive */
.section04 {
  background-color: #fff;
  height: 1100px;
  padding-top: 123px;

  .title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
  }
  .subtitle {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
  }

  .flex-container {
    .main-container {
      display: flex;
      padding-top: 1%;
      .img-container {
        padding-left: 1%;
        .flex-text {
          padding-top: 5%;
        }
      }
    }
  }
}

/* sustainability */
.section05 {
  background-color: #fff;
  /* width: 1920px; */
  height: inherit;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 123px;
    padding-bottom: 2%;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .img-container {
      display: flex;
      position: relative;
      padding-right: 8%;
      .sound-btn {
        display: flex;
        position: absolute;
        left: 2%;
        bottom: 5%;
        gap: 700px;

        .stop-btn {
          display: flex;
          align-items: center;
          padding-right: 10%;

          .text {
            padding-right: 13%;
          }
        }
      }
      .content {
        position: relative;
        padding-top: 10%;
        padding-left: 6%;
        .text {
          padding-bottom: 10%;
        }
        .btn {
          border: none;
          width: 208px;
          height: 50px;
          position: absolute;
          margin: 0 auto;
          left: 0;
          bottom: 30%;
          transform: translate(40%, -20%);
          background: white url("/common/buttonblack.jpg") no-repeat center;
          padding: 0;

          &:hover {
            border: 1px solid black;
            background: white url("/common/button.jpg") no-repeat center;
          }
        }
      }
    }
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    gap: 1rem;
  }
}


.section05 .swiper{

  width: 923px;
  height: 467px;
  video{
    width: 100%;
  }
}

/* final */
.section06 {
  background-color: #fff;
  /* width: 1920px; */
  height: inherit;

  .flex-container {
    padding-top: 123px;
    padding-left: 10%;
    padding-bottom: 123px;

    .footer-text {
      .top-footer {
        display: flex;
        gap: 2%;

        .FURNITURE {
          display: flex;
          padding-left: 13%;
        }
      }
      .bottom-footer {
        display: flex;
        padding-top: 1%;
        gap: 2%;
        .SERVICE {
          display: flex;
          padding-left: 3%;
        }
      }
    }

    .footer-img {
      display: flex;
      padding-top: 3%;
      .item-img {
        display: flex;
        .item2 {
          padding-left: 1%;
        }
        .item3 {
          padding-left: 1%;
        }
      }
    }
  }
}

/* footer */
.section07 {
  /* width: 1920px; */
  height: inherit;
}
