/* 웹페이지 가로 사이즈 1920px */
/* background-image: url(); */
/* products페이지 flexbox top <-> bottom 여백 없애기 */

.section01 {
  background-color: #fff;
  width: 1920px;

  header {
    list-style: none;
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: space-between; /* gnb 3등분 영역 지정해주기 */
    position: center;
    height: 50px;
    padding: 50px;
    border-bottom: 1px solid black;

    .logo{
      padding-left: 6%;
    }

    .group {
      display: flex;
      position: center;
      gap: 10em;
      padding: 32%;
      
      .gnb {
        border-left: 1px solid black;
        padding: 0;
        height: 100%;

        .gnb-img{
          display: flex;
          padding: 3%;
          padding-left: 10px;
        }
      }
      ._gnb {
        border-left: 1px solid black;
        padding-left: 10px;

        ._gnb-img{
          display: flex;
          padding: 3%;
        }
      }
      .icons {
        padding-left: 10px;
        padding-right: 5px;
        
        .icon-img{
          display: flex;
          padding: 18%;
        }
      }
    }
  }

/* Main page */
  .main-container {
    position: relative;
    text-align: center;
    justify-content: center;
    background-color: #fff;

    .text {
    position: absolute;
    }

    .title{
      padding-top: 20px;
      padding-bottom: 15px;
    }
  } 

  .btn {
    position: absolute;
    left: 45px;
    bottom: 130px;
  }





.bg-img{
  width: 1600px;
  height: 739px;
  margin: 0 auto;
}

.swiper-slide{
  position: relative;
}

.btn {
  border: none;
  width: 208px;
  height: 50px;
  border: 1px solid #fff;
  background: url("/common/button.png") no-repeat center;
  cursor: pointer;

  &:hover {
    background: black url("/common/button.jpg") no-repeat center;
  }
}

}








/* products page */
.section02 {
  background-color: #fff;
  width: 1920px;
  height: inherit;
  

  .flex-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
      padding-top: 123px;
      padding-bottom: 30px;
    }
  
    .img_top{
      display: flex;

      .text-top{
        display: flex;
        position: absolute;
        margin: 0 auto;
        top: 16%;
        transform: translate(50%, -15%);
        
      }
      .retailer_btn{
        display: flex;
        position: absolute;
        margin: 0 auto;
        top: 40%;
        transform: translate(22%, -40%);
        padding: 0;

        &:hover {
          background: white url("/section02/button.jpg") no-repeat center;
        }
      }
    }
    .img_bottom{
      display: flex;

      .text-bottom{
        padding-top: 50px;
        display: flex;
        position: absolute;
        margin: 0 auto;
      }
    }
  }

}


.retailer_btn {
  background: url("/section02/button.png") no-repeat center;
  cursor: pointer;

  &:hover {
    background: black url("/section02/button.jpg") no-repeat center;
  }
}

.Bedroom{
  display: flex;
  justify-content: center;
}
.Tables{
  display: flex;
  justify-content: center;
}
.chairs{
  display: flex;
  justify-content: center;
}
.Accessories{
  display: flex;
  justify-content: center;
}

/* lifestyle */
.section03{
  background-color: #fff;
  width: 1920px;
  height: inherit;

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 123px;
    padding-bottom: 2%;
  }

  .flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: re;
    padding-top: 2%;
    padding-left: 170px;
    padding-right: 170px;

    .flex-img{
      display: flex;
      .img{
        display: flex;
      }
      .img-tag{
        position: absolute;
        padding-left: 5%;
        padding-top: 15%;
        
      }
    }
   .body{
    .drawers{
      display: flex;
      padding-top: 10%;
      padding-bottom: 20%;
      .drawer1{
        padding-right: 3%;
      }
    }
    
   }
      

  }
  .pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  gap: 1rem;
  
  }
}


/* Archive */
.section04{
  background-color: #fff;
  width: 1920px;
  height: 1100px;
  padding-top: 123px;

  .title{
    display: flex;
    justify-content: center;
  }

  .title-body{
    display: flex;
    padding: 2%;
    justify-content: center;
  }
  .flex-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .img-container{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1%;  /* 그리드 레이아웃 마진값 주기 */
      
      .flex-text{
        display: flex;
        position: absolute;
        padding-top: 38%;
      } 
    }
  }
}

/* sustainability */
.section05{
  background-color: #fff;
  width: 1920px;
  height: inherit;

  .title{
    display: flex;
    justify-content: center;
  }
  .flex-container{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-container{
      display: flex;
      position: relative;
      padding-right: 8%;
      .sound-btn{
        display: flex;
      }

      .content{
        padding-top: 10%;
        padding-left: 6%;
        .text{
          padding-bottom: 10%;
        }
        .button{
          border: none; 
          /* 버튼 테두리 지우기 */
        }
      
      }
    }
  }
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    gap: 1rem;
  }
}


/* final */
.section06{
  background-color: #fff;
  width: 1920px;
  height: inherit;

  .flex-container{
    padding-top: 123px;
    padding-left: 10%;
    padding-bottom: 123px;

    .footer-text{
      .top-footer{
        display: flex;
        .FURNITURE{
          display: flex;
          padding-left: 3%;
          
        }
      }
      .bottom-footer{
        display: flex;
        padding-top: 1%;
        .SERVICE{
          display: flex;
          padding-left: 3%;
        }
      }
    }

    .footer-img{
      display: flex;
      padding-top: 3%;
      .item-img{
        display: flex;
        .item2{
          padding-left: 1%;
        }
        .item3{
          padding-left: 1%;
        }
      }

    }

  }


}


/* footer */
.section07{
  background-color: #fff;
  width: 1920px;
  height: inherit;

  .flex-container{
    background-color: black;
    height: 616px;
    padding-left: 5%;
    display: flex;
    /* justify-content: space-between; */

    .left-box{
      
      .logo{
        display: flex;
        padding-top: 15%;
      }
      .address{
        display: flex;
        padding-top: 10%;
      }
      .cvr{
        display: flex;
        padding-top: 10%;
      }
      .reserved{
        display: flex;
        padding-top: 30%;
      }
    }
    .right-box{
      display: flex;
      padding-left: 20%;
      padding-top: 3%;

      .title{
        display: flex;
      }
      .body{
        padding-top: 20%;
        
      }
    }

  }
} 