/* 웹페이지 가로 사이즈 1920px */

.section01 {
  header {
    /* width: 1920px;  */
    list-style: none;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between; /* gnb 3등분 영역 지정해주기 */
    position: center;
    height: 50px;
    background-color: #fff;
    padding: 50px;
    /* margin: 3px; */
    border-bottom: 1px solid black;
    .group {
      display: flex;
      position: center;
      gap: 10em;
      .gnb {
        border-left: 1px solid black;
        padding: 10px;
        height: 100%;
      }
      ._gnb {
        border-left: 1px solid black;
        padding: 15px;
        height: 100%;
      }
      .icons-img {
        /* margin: 10px; */
        padding: 20px;
      }
    }
  }

  .main-container {
    position: relative;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: #fff;

    .text {
      position: absolute;
      display: flex;
    }
    /* 이미지 위에 텍스트 배치 relative - absolute */
    /* .bg-img{
    position: relative;
    display: fixed;
    width: auto;
    text-align: center;
    background-color: #fff;
  } */
  }

  .btn {
    position: absolute;
    left: 30px;
    bottom: 200px;
  }
}

.btn {
  border: none;
  width: 208px;
  height: 50px;
  border: 1px solid black;
  background: url("/common/button.jpg") no-repeat center;
  cursor: pointer;

  &:hover {
    background: black url("/common/button.png") no-repeat center;
  }
}

.section02 {
  height: 1300px;

  /* background-image: url(); */
}
